<section class="contact-show">
  <dl>
    <dt>Full Name</dt>
    <dd>{{@contact.fullName}}</dd>
  </dl>

  <dl>
    <dt>Address</dt>
    <dd>
      <address>
        {{@contact.address.line1}}<br/>
        {{@contact.address.line2}}<br/>
        {{@contact.address.city}}<br/>
        {{@contact.address.state}}<br/>
        {{@contact.address.postal}}<br/>
      </address>
    </dd>
  </dl>
</section>
