<section class="contact-panel">
  {{#if @contact}}
    {{#if editing}}
      <contact-edit @contact={{@contact}}
                    @onCancel={{action abortEdit}}
                    @onSave={{action commitEdit}} />
    {{else}}
      <contact-show @contact={{@contact}} />
      <button class="btn btn-primary" onclick={{action newEdit}}>Add</button>
      <button class="btn btn-primary" onclick={{action beginEdit}}>Edit</button>
    {{/if}}
  {{else}}
    <p><i>Add your first contact.</i></p>
    <button class="btn btn-primary" onclick={{action newEdit}}>Add</button>
  {{/if}}
</section>
