<section class="contact-edit">
  {{#if errorMessages}}
    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> {{errorMessages}}
    </div>
  {{/if}}
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="First Name"
             name="firstName" value={{firstName}} onkeyup={{action handleEditKeyUp}} />
      <small class="form-text text-muted">Length: {{firstNameLength}}</small>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Last Name"
             name="lastName" value={{lastName}} onkeyup={{action handleEditKeyUp}} />
      <small class="form-text text-muted">Length: {{lastNameLength}}</small>
    </div>
    <div class="form-group">
      <code>{{stringifiedModel}}</code>
    </div>
  </form>

  <button class="btn btn-primary" onclick={{action commitSave}}>Save</button>
  <button class="btn btn btn-secondary" onclick={{action @onCancel}}>Cancel</button>
</section>
