<section class="contact-edit">
  {{#if errorMessages}}
    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> {{errorMessages}}
    </div>
  {{/if}}
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="First Name"
             name="firstName" value={{firstName}} onkeyup={{action handleEditKeyUp}} />
      <small class="form-text text-muted">Length: {{firstNameLength}}</small>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Last Name"
             name="lastName" value={{lastName}} onkeyup={{action handleEditKeyUp}} />
      <small class="form-text text-muted">Length: {{lastNameLength}}</small>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Address Line 1"
             name="addressLine1" value={{addressLine1}} onkeyup={{action handleEditKeyUp}} />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Address Line 2"
             name="addressLine2" value={{addressLine2}} onkeyup={{action handleEditKeyUp}} />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="City"
             name="addressCity" value={{addressCity}} onkeyup={{action handleEditKeyUp}} />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="State"
             name="addressState" value={{addressState}} onkeyup={{action handleEditKeyUp}} />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Postal Code"
             name="addressPostal" value={{addressPostal}} onkeyup={{action handleEditKeyUp}} />
    </div>
  </form>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" onclick={{action commitSave}}>Save</button>
      <button class="btn btn btn-secondary" onclick={{action @onCancel}}>Cancel</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <br/>
      <code>{{stringifiedModel}}</code>
    </div>
  </div>
</section>
